ul{
    list-style: none;
    /* border: rgb(211, 10, 167) 1px solid; */
    padding: 0px;
}

img{
    height: 25px;
    margin: 5%;
}

@media screen and (min-width: 768px){
    li, p{
        font-size: 3.0em;
    }

    img{
        height: 40px;
        margin: 5%;
    }
}

@media screen and (min-width: 992px){
    li, p{
        font-size: 4.0em;
    }

    img{
        height: 60px;
        margin: 5%;
    }
}

