<div class="row">
  <ul class="col-12 text-center">
    <li>{{ comedy }}
      <img [src]="comedyLogo" alt="pixilated smiley face">
    </li>
    <li>{{ action }}
      <img [src]="actionLogo" alt="pixilated sword">
    </li>
    <li>{{ thriller }}
      <img [src]="thrillerLogo" alt="pixilated scared face">
    </li>
    <li>{{ sciFi }}
      <img [src]="sciFiLogo" alt="pixilated spaceship">
    </li>
  </ul>
</div>
<div class="row">
  <p class="col-12 text-center slogan"> 
    {{ slogan }}
  </p>
</div>