<div class="row">
<table class="text-center">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Selection Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of savedCart">
      <td>
        {{ detail.product.name }}
      </td>
      <td>
        {{ detail.amount }}
      </td>
      <td>
        {{ detail.product.price }}
      </td>
      <td>
        {{ detail.selectionTotal }}
      </td>
      <td><button (click)="removeSelectionFromCart()">Remove</button></td>
    </tr>
    <tr>
      Total Price:
    </tr>
    <tr>
      {{ totalPrice }}
    </tr>
  </tbody>
</table>
</div>
