<div class="row">
  <table class="table text-center">
  <thead>
    <tr>
      <th>Movie</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Selection Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of savedCart">
      <td>
        {{ detail.product.name }}
      </td>
      <td>
        {{ detail.amount }}
      </td>
      <td>
        {{ detail.product.price }}
      </td>
      <td>
        {{ detail.selectionTotal }}
      </td>
      <td><button (click)="removeSelectionFromCart(detail.product.id)">Remove</button></td>
    </tr>
    <tr>
      Total Price:
    </tr>
    <tr>
      {{ totalPrice }}
    </tr>
  </tbody>
</table>
  <!-- <div class="text-center">
      <span class="col-3">Name</span>
      <span class="col-3">Amount</span>
      <span class="col-3">Price</span>
      <span class="col-3">Selection Total</span>
  </div>
  <br>
  <ul class="text-center" *ngFor="let detail of savedCart">
    <li>
      <span class="col-2">{{ detail.product.name }}</span>
      <span class="col-2">{{ detail.amount }}</span>
      <span class="col-2">{{ detail.product.price }}</span>
      <span class="col-2">{{ detail.selectionTotal }}</span>
      <span class="col-2"><button (click)="removeSelectionFromCart(detail.product.id)">Remove</button></span>
    </li>
    <li>
      <span class="col-5">Total Price:</span>
      <span class="col-5">{{ totalPrice }}</span>
    </li>
  </ul> -->
</div>
<form class="form" [formGroup]="userInformation" (ngSubmit)="createOrder()">
  <label for="userName">Full Name</label>
  <input type="text" id="userName" formControlName="userName" />
  <br>
  <label for="userEmail">E-mail</label>
  <input type="email" name="" id="userEmail" formControlName="userEmail">
  <br>
  <label for="paymentType">Payment Type</label>
  <select name="paymentType" id="paymentType" formControlName="paymentType">
    <option value="credit card">Credit Card</option>
    <option value="payPal">PayPal</option>
    <option value="invoice">Invoice</option>
  </select>
  <br>
  <button type="submit">Place order</button>
</form>
