ul{
    list-style: none;
    padding: 0px;
}

img{
    height: 250px;
    margin: 10%;
}

li.pb-4{
    font-size: 1.0em;
}

@media screen and (min-width: 768px){
    li.pb-4{
        font-size: 2.0em;
    }

    img{
        height: 350px;
        margin: 10%;
    }
}

@media screen and (min-width: 992px){
    li.pb-4{
        font-size: 3.0em;
    }

    img{
        height: 450px;
        margin: 10%;
    }
}