<div class="container-fluid">
  
  <nav class="row">
    <a href="#" class="col-6 text-left">
      <img [src]="homeLogo" alt="home pixelated logo" class="homeLogo">
    </a>
    <a href="#" class="col-6 text-right">
      <img [src]="shoppingCartLogo" alt="shopping cart pixelated logo" class="shoppingCartLogo">
    </a>
  </nav>

  <div class="row">
    <h1 class="col-12 text-center">
      {{ title }}
    </h1>
  </div>  
  
  <div class="row">
    <h2 class="col-12 text-center">
      {{ tagLine }}
    </h2>
  </div>
    
</div>
