<div class="container-fluid">
  
  <nav class="row">
    <a href="/home" class="col-6 text-left">
      <img [src]="homeLogo" alt="home pixelated logo" class="homeLogo">
    </a>
    <a href="#" class="col-6 text-right">
      <img [src]="shoppingCartLogo" alt="shopping cart pixelated logo" class="shoppingCartLogo">
    </a>
  </nav>

  
  
  <div class="row">
    <h2 class="col-12 text-center">
      {{ tagLine }}
    </h2>
  </div>
    
</div>
<!-- <div class="dropdown" mdbDropdown>

  <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
    mdbWavesEffect>
    <img [src]="homeLogo" alt="home pixelated logo" class="homeLogo">
  </button>


  <div class="dropdown-menu dropdown-primary">
    <a class="dropdown-item" href="#">Home</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->
